<!-- Navbar -->
<app-my-navbar/>

<!-- Main content -->
<div class="container py-4">

    <!-- Header -->
    <div class="mb-4">
        <h2 class="mb-1">New Sale</h2>
        <p class="text-secondary mb-0">
            Complete the information to register a new sale.
        </p>
    </div>

    <!-- Sale Information Card -->
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-light">
            <h5 class="mb-0">Sales Information</h5>
        </div>

        <div class="card-body">

            <div class="row g-3">

                <!-- Customer Details -->
                <div class="col-md-6">
                    <label class="form-label">
                        Customer Name
                    </label>

                    <input type="text" class="form-control" 
                        [formField]="saleForm.customerName"
                        placeholder="Enter the customer's name" autocomplete="off">
                   
                   @if (saleForm.customerName().touched() && saleForm.customerName().invalid()) {
                    <small class="text-danger">
						{{ saleForm.customerName().errors()[0].message }}
                    </small>
                   }
                </div>

                <!-- Payment Type -->
                <div class="col-md-6">
                    <label class="form-label">
                        Payment type
                    </label>

                    <select class="form-select" [formField]="saleForm.paymentType">
                        <option value="0" selected disabled>
                            Select a payment type
                        </option>
                        <option value="1">Cash</option>
                        <option value="2">Card</option>
                        <option value="3">Transfer</option>
                    </select>
                    <!-- Display validation error message if payment type is invalid -->
                    @if (saleForm.paymentType().touched() && saleForm.paymentType().invalid()) {
                        <small class="text-danger">
                            {{ saleForm.paymentType().errors()[0].message}}
                        </small>
                    }
                </div>

            </div>

        </div>
    </div>

    <!-- Product Details -->
    <div class="card shadow-sm">

        <!-- Card Header -->
        <div class="card-header bg-light d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Product Details</h5>
            <!-- Add Product Button -->
            <button class="btn btn-primary btn-sm" (click)="addProduct()">
                Add Product
            </button>
        </div>

        <div class="card-body p-0">
            <div class="table-responsive">

                <!-- Product Details Table -->
                <table class="table table-hover align-middle mb-0">
                    <!-- Product Details Table Header -->
                    <thead class="table-light">
                        <tr>
                            <th>Product</th>
                            <th width="140">Quantity</th>
                            <th width="180">Unit Price</th>
                            <th width="180">Subtotal</th>
                            <th width="100">Action</th>
                        </tr>
                    </thead>
                    <!-- Product Details Table Body -->
                    <tbody>
                        @for (item of saleForm.details; track $index) {
                            <tr>
                                <td>
                                    <input type="text" class="form-control" [formField]="item.productName" placeholder="Product name">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [formField]="item.quantity">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [formField]="item.unitPrice">
                                </td>

                                <td>
                                    <span class="fw-semibold">
                                        {{ item.quantity().value() * item.unitPrice().value()}}
                                    </span>
                                </td>

                                <td>
                                    <button class="btn btn-outline-danger btn-sm" (click)="removeProduct($index)">
                                        Delete
                                    </button>
                                </td>

                            </tr>
                         }
                    </tbody>
                </table>

            </div>

        </div>

        <!-- Footer -->
        <div class="card-footer">

            <div class="d-flex justify-content-between align-items-center">
                <!-- Total Amount -->
                <div>
                    <span class="fs-5 fw-semibold">
                        Total:
                    </span>
                    <span class="fs-4 fw-bold text-success ms-2">
                        $ {{   total().toFixed(2) }}
                    </span>
                </div>

                <div class="d-flex gap-2">
                    <!-- Cancel Button -->
                    <a class="btn btn-outline-secondary" routerLink="/sales">
                        Cancel
                    </a>
                    <!-- Save Sale Button -->
                    <button type="button" class="btn btn-success" (click)="save()">
                        Save Sale
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
